*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/** STRUTTURA PAGINA **/

header{
    width: 100%;
    height: 70px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: flex-end;
}

main{
    background-color: black;
    height: calc(100vh - 70px - 100px);
    overflow-y: auto;
    padding: 20px;
    
}

footer{
    background-color: rgb(53, 52, 52);
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    justify-content: space-between;
}

/** CONTAINER **/

.main-container{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.footer-left, .footer-center, .footer-right{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer-right{
    background-color: darkgrey;
    color: red;
}

/** ELEMENTI PAGINA **/

.setting{
    background-color: gray;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    display: flex;
    justify-content: flex-end;
}

footer .icon{
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.foot-item{
    margin: 5px;
    padding: 5px;
}

.mic{
    
}

.card{
    width: calc(100% / 7);
}

.card-image{
    position: relative;
    margin: 5px;
}

.badges{
    position: absolute;
    left: 5px;
    bottom: 9px;
}

.badge{
    background-color: gray;
    color: white;
    padding: 5px;
    margin-bottom: 5px;
}

.icon-header{
    background-color: gray;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}

.fa, .fas{
    font-weight: 900;
}

.fa-2x{
    font-weight: 2em;
}

.end{
    padding: 10px;
}


