*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 70px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: flex-end;
}

main{
    background-color: black;
    height: calc(100vh - 70px - 100px);
    overflow-y: auto;
    padding: 20px;
    
}

footer{
    background-color: rgb(53, 52, 52);
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.setting{
    background-color: gray;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    display: flex;
    justify-content: flex-end;
}

.icon{
    background-color: gray;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}

.main-container{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot-item{
    margin: 5px;
    padding: 5px;
}

.mic{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.card{
    width: calc(100% / 7);
    height: calc(100% / 5);
    padding-top: 10px;
    padding-right: 10px;
}

.card-image{
    position: relative;
    width: 207px;
    margin: 5px;
}

.badges{
    position: absolute;
    left: 5px;
    bottom: 9px;
}

.badge{
    background-color: gray;
    color: white;
    padding: 5px;
    margin-bottom: 5px;
}

.card-image > img{
    width: 60%;
}

